---
import Layout from '../layouts/Layout.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="pt-15"></div>
	<main data-pagefind-body data-pagefind-filter="facultad:PREMED">
		<div class="mx-auto items-center flex relative bg-uprrpred-100 text-uprrpblack p-10 md:max-w-6xl">
			<h1 class="mx-auto text-3xl text-center block">Informe del comité de Premédica</h1>
		</div>
	</main>
	<div class="mx-auto max-w-3/4 py-2">
		<object class="w-full h-dvh" data="/NatSciHistories/documentation/informe-comite-premed.pdf" type="application/pdf">
			<p>It appears you don't have a PDF plugin for this browser. No biggie... you can <a href="assets/test.pdf">click here to download the PDF file.</a></p>
		</object>
	</div>
</Layout>