<div class="container max-w-3/4 mx-auto py-3">
    <ul class="grid lg:grid-cols-3 gap-2 mx-auto items-center justify-items-center">
        <li class="max-w-sm bg-white rounded-lg shadow-md border border-gray-200">
            <img class="w-full h-48 object-cover" src="https://via.placeholder.com/400x250" alt="Blog Thumbnail">
            <div class="p-6">
              <h2 class="text-xl font-semibold text-gray-900">Exploring Historical Archives</h2>
              <p class="mt-2 text-gray-600 line-clamp-3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita iure distinctio amet mollitia eaque voluptates minima id reiciendis labore, enim quo! Temporibus, voluptate cumque. Corrupti libero distinctio natus harum cumque.
              </p>
              <a href="#" class="mt-4 inline-block text-blue-600 font-medium hover:underline">
                Read More →
              </a>
            </div>
        </li>
        <li class="max-w-sm bg-white rounded-lg shadow-md border border-gray-200">
            <img class="w-full h-48 object-cover" src="https://via.placeholder.com/400x250" alt="Blog Thumbnail">
            <div class="p-6">
              <h2 class="text-xl font-semibold text-gray-900">Exploring Historical Archives</h2>
              <p class="mt-2 text-gray-600 line-clamp-3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita iure distinctio amet mollitia eaque voluptates minima id reiciendis labore, enim quo! Temporibus, voluptate cumque. Corrupti libero distinctio natus harum cumque.
              </p>
              <a href="#" class="mt-4 inline-block text-blue-600 font-medium hover:underline">
                Read More →
              </a>
            </div>
        </li>
        <li class="max-w-sm bg-white rounded-lg shadow-md border border-gray-200">
            <img class="w-full h-48 object-cover" src="https://via.placeholder.com/400x250" alt="Blog Thumbnail">
            <div class="p-6">
              <h2 class="text-xl font-semibold text-gray-900">Exploring Historical Archives</h2>
              <p class="mt-2 text-gray-600 line-clamp-3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita iure distinctio amet mollitia eaque voluptates minima id reiciendis labore, enim quo! Temporibus, voluptate cumque. Corrupti libero distinctio natus harum cumque.
              </p>
              <a href="#" class="mt-4 inline-block text-blue-600 font-medium hover:underline">
                Read More →
              </a>
            </div>
        </li>
    </ul>
</div>