---

---
<nav class="flex px-4 border-b md:shadow-lg items-center relative bg-sky-50">
    <div class="text-lg font-bold md:py-0 py-4">Laboratorios de José Agosto y Tugrul Giray</div>
    <ul class="invisible md:visible lg:visible xl:visible md:px-2 ml-auto md:flex md:space-x-2 absolute md:relative top-full left-0 right-0">
        <li>
            <a href="#" class="flex md:inline-flex p-4 items-center hover:bg-gray-50"><span>Home</span></a>
        </li>
        <li>
            <a href="#" class="flex md:inline-flex p-4 items-center hover:bg-gray-50"><span>Sobre nosotros</span></a>
        </li>
        <li>
            <a href="#" class="flex md:inline-flex p-4 items-center hover:bg-gray-50"><span>Galería</span></a>
        </li>
        <li>
            <a href="#" class="flex md:inline-flex p-4 items-center hover:bg-gray-50 space-x-2"><span>¡Entérate!</span></a>
        </li>
    </ul>
</nav>