---

---
<nav class="flex px-4 border-b md:shadow-lg items-center relative bg-slate-50">
    <div class="md:py-4">
        <a class="inline-flex max-w-40 md:shrink-0" href="/NatSciHistories/"><img src="/NatSciHistories/logoescrito-uprrp.png" alt="logo-uprrp" /></a>
    </div>
    <p class="text-lg pl-3 my-2 inline-flex shrink">Historia de la Facultad de Ciencias Naturales</p>
    <ul class="border-1 md:border-0 md:px-2 ml-auto md:flex md:space-x-2 absolute md:relative top-full left-0 right-0">
        <li class="inline-flex hover:bg-uprrpred-100 hover:text-slate-50">
            <a href="/NatSciHistories/" class="p-4 items-center"><span>Home</span></a>
        </li>
        <li class="inline-flex hover:bg-uprrpred-100 hover:text-slate-50">
            <a href="/NatSciHistories/sobre-nosotros/" class="inline-flex p-4 items-center"><span>Sobre nosotros</span></a>
        </li>
        <li class="inline-flex hover:bg-uprrpred-100 hover:text-slate-50">
            <a href="/NatSciHistories/enterate/" class="inline-flex p-4 items-center space-x-2"><span>¡Entérate!</span></a>
        </li>
    </ul>
</nav>